body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;

    background-color: lightcyan;
}

pre{
    background-color: lightblue;
    padding: 5px;
    border: 1px solid black;
    white-space: pre-wrap;
    font-family: "Courier New", monospace;
    
}
  


.head-content{
    flex: 2;

    border: solid 2px lightseagreen;

    margin-bottom: 5px;
}


.main-content{
    flex: 10;
    border: solid 2px rgb(240, 124, 124);

    margin-bottom: 5px;

    padding: 10px;
}


.foot-content{
    flex: 1;
    border: solid 2px lightseagreen;
}